<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
		<title>Kundenformular</title>
	</head>
	<body>
		<form method="post" action="/add" th:object="${mitarbeiterDaten}">
			 <fieldset>
  				<legend>Mitarbeiterdaten:</legend>
  				
				<label for="name">Name</label>
				<input th:field="*{name}" type="text" id="name" name="name" />
				<br />
				
				<label for="username">Username</label>
				<input th:field="*{username}" type="text" id="username" name="username" />
				<br />
				
				<label for="password">Passwort</label>
				<input th:field="*{password}" type="text" id="password" name="password" />
				<br />
				
				<label for="role">Rolle</label>
				<input th:field="*{role}" type="text" id="role" name="role" />
				<br />
								
				<input type="submit" value="Registrieren" />
			</fieldset>				
		</form>
	</body>
</html>